<link href="~/Content/Shared/Footer.css" rel="stylesheet" />
<footer class="footer">
    <div class="container">
        <div class="text-muted">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-unstyled">
                            <li>
                                <a class="text-center" href="">Privacy Policy</a>
                            </li>
                            <li>
                                <a class="text-center" href="#">Jobs</a>
                            </li>
                            <li>
                                <a class="text-center" href="#">Customer service</a>
                            </li>
                        </ul>
                    </div>
                    <div id="ContactInformation" class="col-sm-3">
                        <ul class="list-unstyled">                            
                            <li class="text-center">Contact Us</li>
                            <li class="text-center">910 Nestle Way</li>
                            <li class="text-center">Breinigsville, PA 18031</li>
                            <li class="text-center">Phone: (610) 395-4630</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-unstyled">
                            <li class="text-center">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="text-center">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="text-center">
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            </li>
                            <li class="text-center">
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
