<link href="~/Content/Shared/NavigationBar.css" rel="stylesheet" />
<script src="~/Scripts/Shared/NavigationBar.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>




<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">&#x3b1;</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        </div>
        <div class="user-profile-container">
            @{
                if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <p class="prefix-username">Welcome!</p>
                    @System.Web.HttpContext.Current.User.Identity.Name
                    <div class="icon-container-sign-out">
                        <i class="fas fa-sign-out-alt"></i>
                    </div>
                }
                else
                {
                    <div></div>
                }
            }
        </div>
    </div>
</nav>