@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#05202B" />
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="~/Content/User/ResetPassword.css" rel="stylesheet" />
    <script src="~/Scripts/User/ResetPassword.js"></script>
    <title>User - Reset Password</title>
</head>
<html lang="en">
<body>
    @Html.Partial("~/Views/Shared/NavigationBar.cshtml")
    <main class="container-fluid">
        <div class="container-form col-sm-12 main-contents-container">
            <div>
                <label class="form-label display-4">Reset Password</label>
            </div>
            <div class="form-group">
                <label for="Username">New Password</label>
                <input type="password" class="form-control" id="Password" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="PasswordConfirm">Confirm Password</label>
                <input type="password" class="form-control" id="PasswordConfirm" placeholder="Password">
            </div>
            <div class="center-component">
                <button id="ButtonResetPassword" class="btn btn-primary col-sm-12" type="button">Reset Password</button>
            </div>
            <div class="container-alerts">
                <p id="ResetPasswordError" class="alert alert-danger col-sm-12 text-center"></p>
                <p id="ResetPasswordSuccess" class="alert alert-success col-sm-12 text-center"></p>
            </div>
        </div>
    </main>
    @Html.Partial("~/Views/Shared/Footer.cshtml")
</body>
</html>
