main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

    main .container-form {
        max-width: 500px;
    }

    main .center-component button {
        min-width: 100%;
        width: 100%;
    }

    main .alert {
        margin-top: 10px;
    }

        main .alert:empty {
            display: none;
        }
