main.container-fluid {
    height: 89vh;
    display: flex;
    justify-content: center;
    max-width: 1000px;
    align-items: center;
}

.main-contents-container {
    margin-bottom: 100px;
}

.container-alerts {
    margin-top: 20px;
    position: relative;
}

    .container-alerts .alert {
        position: absolute;
    }

        .container-alerts .alert:empty {
            display: none;
        }

.center-component {
    display: flex;
    justify-content: flex-start;
}

body {
    background-color: white !important;
}

#ButtonLogin {
    border-radius: 2px;
    min-width: 100%;
}

.user-login-introduction p:first-child {
    margin-bottom: 15px;

}

.user-login-introduction p {
    margin-bottom: 0;
}
