html #UserTable .row {
    margin-left: 0;
    margin-right: 0;
}

body {
    background-color: white !important;
    max-width: 2160px;
}

#UserTable {
    padding-left: 0;
    padding-right: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    max-height: 850px;
}

@media (min-width: 1017px) {
    main .main-contents-container {
        width: calc(100% - 250px) !important;
        max-width: calc(100% - 250px) !important;
        min-width: calc(100% - 250px) !important;
    }
}



#UserTable .user-row {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid;
    border-color: #F1F1F1;
    border-width: 2px;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.more-actions-container {
    margin-left: auto;
    margin-right: 30px;
}

main .main-contents-container {
    padding-left: 0;
    padding-right: 0;
    max-width:
}

@media (min-width: 576px) {
    main .main-contents-container {
        display: flex;
    }
}

@media(min-width: 576px) {
    #ContainerUserTable {
        border-right: solid;
        border-width: 2px;
        border-color: #F1F1F1;
    }
}

#ContainerUserTable {
    padding-left: 0;
    padding-right: 0;
}

#UserTable .user-row p {
    margin-bottom: 0;
    margin-top: 0;
}

#UserTable .user-row .user-name {
    font-size: 13pt;
    margin-bottom: 5px;
    font-weight: 500;
}

#UserTable .user-row .user-avatar-container {
    height: 55px !important;
    width: 55px !important;
    background-color: grey;
    border-radius: 100%;
}

    #UserTable .user-row .user-avatar-container img {
        border-radius: 100%;
        height: 55px;
        width: 55px;
    }

#UserTable .user-row .user-information {
    padding-left: 30px;
}

#UserTable .user-row .user-role {
    font-size: 9pt;
    padding-right: 10px;
}

#UserInformation {
    background-color: white;
    /* overflow-y: scroll; */
}



    #UserInformation .user-detail-avatar-container {
        height: 100px;
        width: 100%;
        margin: 60px 0 40px 0;
        display: flex;
        justify-content: center;
        position: relative;
    }

@media (max-width: 576px) {
    #UserInformation .col-sm-12 {
        padding-top: 30px;
    }

    #UserInformation .user-detail-avatar-container {
        margin-top: 0px;
    }
}

#UserInformation .user-detail-avatar-container .user-detail-avatar {
    height: 130px;
    width: 130px;
    background-color: #808080;
    border-radius: 100%;
}

    #UserInformation .user-detail-avatar-container .user-detail-avatar img {
        height: inherit;
        width: inherit;
        border-radius: 100%;
    }

    #UserInformation .user-detail-avatar-container .user-detail-avatar:hover {
        filter: blur(1px);
        cursor: pointer;
    }

#UserInformation .user-detail-avatar-container .user-detail-avatar-overlay {
    position: absolute;
    top: 33px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-size: 15pt;
    font-weight: 400;
    display: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0);
    border-radius: 100%;
}

    #UserInformation .user-detail-avatar-container .user-detail-avatar-overlay:hover {
        display: flex;
        cursor: pointer;
    }

#UserInformation .user-detail-avatar-container .user-detail-avatar:hover + .user-detail-avatar-overlay {
    display: flex;
    cursor: pointer;
}

.user-detail-avatar-upload-label {
    margin-top: 19px;
    cursor: pointer;
    font-size: 12pt;
}

#UserInformation .user-detail-user-name {
    display: flex;
    justify-content: center;
}

    #UserInformation .user-detail-user-name p {
        font-size: 16pt;
    }

#UserInformation .edit-container {
    margin-left: 15px;
}

    #UserInformation .edit-container svg {
        cursor: pointer;
    }

#UserInformation .user-sub-details p {
    border-bottom: dashed;
    border-color: #808080;
    border-width: 1px;
}

#UserInformation .user-detail-user-roles .user-detail-user-role p {
    margin-bottom: 0px;
    margin-top: 0;
}

#UserInformation .user-detail-user-roles .user-detail-user-role {
    display: flex;
    align-items: center;
    border: solid;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    border-width: 2px;
}

    #UserInformation .user-detail-user-roles .user-detail-user-role .icon-container-delete-row svg {
        color: #FE6464;
        cursor: pointer;
    }

.user-roles .user-role {
    margin: 4px 4px 4px 0;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 2px;
    font-weight: 400;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    background-color: #0073AC;
    color: white;
}

#UserInformation .edit-container {
    color: #1b6685;
}

#UserInformation .user-detail-value, #UserInformation .user-detail-input {
    min-height: 25px;
}

#UserInformation .user-detail-input {
    /* margin-bottom: 1rem; */
}

#UserInformation .user-detail-user-roles svg:last-child {
    margin-left: 10px;
    color: #62a43e;
}

#UserInformation .user-detail-input {
    width: 100%;
}

#RoleSelectionDropdownMount {
    margin-bottom: 10px;
}

#ReactRoot {
    display: flex;
    width: 100%;
}

.container-custom-dropdown {
    position: relative;
    max-width: max-content;
    min-width: 200px;
}

    .container-custom-dropdown .dropdown-custom {
        border: solid;
        border-width: 2px;
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
    }

        .container-custom-dropdown .dropdown-custom .actions-dropdown {
            display: flex;
            margin-left: auto;
            margin-right: 10px;
        }

        .container-custom-dropdown .dropdown-custom p {
            margin-left: 10px;
            margin-bottom: 0;
        }


        .container-custom-dropdown .dropdown-custom .placeholder {
            margin-left: 10px;
            font-size: 12pt;
            color: #ADADAD;
        }

        .container-custom-dropdown .dropdown-custom .icon-container-down-angle {
        }

            .container-custom-dropdown .dropdown-custom .icon-container-down-angle svg {
                color: #212529 !important;
            }


    .container-custom-dropdown .dropdown-items-custom {
        cursor: pointer;
        position: absolute;
        z-index: 2;
    }


    .container-custom-dropdown .dropdown-custom + .dropdown-items-custom {
        max-height: 1000px;
        border-left: solid;
        border-right: solid;
        border-width: 1px;
        background-color: #f4f4f4;
    }

        .container-custom-dropdown .dropdown-custom + .dropdown-items-custom .dropdown-item-custom p {
            margin-bottom: 0;
            padding-top: 5px;
            padding-bottom: 5px;
        }

    .container-custom-dropdown .dropdown-items-custom .dropdown-item-custom:not(:nth-child(1)) {
        border-top: solid;
        border-width: 1px;
    }

.dropdown-items-custom .dropdown-item-custom {
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
}

    .dropdown-items-custom .dropdown-item-custom:last-child {
        border-bottom: solid;
    }

    .dropdown-items-custom .dropdown-item-custom p {
        margin-left: 10px;
        color: #444;
        font-weight: 500;
    }

.dropdown-items-custom {
    position: absolute;
    left: 0;
    right: 0;
    user-select: none;
}

.user-detail-container {
    margin-bottom: 15px;
}

.user-input-actions {
    display: flex;
}

    .user-input-actions .user-input-input {
        width: 90%;
    }

    .user-input-actions .user-input-accept {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: solid;
        border-width: 1px;
        -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
        user-select: none;
    }

        .user-input-actions .user-input-accept div {
            color: #7AB635;
            font-weight: bold;
        }


.user-detail-user-roles .container-custom-dropdown {
    margin-bottom: 10px;
}

.user-information .user-roles {
    padding-left: 0;
}

.user-information-update-actions {
    display: flex;
}

    .user-information-update-actions .user-information-update-input-container {
        width: 90%;
    }

        .user-information-update-actions .user-information-update-input-container input {
            width: 100%
        }

    .user-information-update-actions .icon-container-checkmark {
        width: 10%;
        border: solid;
        border-width: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 30px;
        max-width: 35px;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    }

        .user-information-update-actions .icon-container-checkmark svg {
            color: #7AB635;
        }

#ProfilePictureUpload {
    display: none;
}
