main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    max-width: 500px;
}

    main .alert {
        margin-top: 10px;
    }

        main .alert:empty {
            display: none;
        }
