nav {
    background-color: #05202B;
    border-bottom: solid;
    border-width: 2px;
    border-color: black;
}

.navbar .navbar-nav .nav-item {
    color: white !Important;
}

nav .navbar-brand {
    color: white !important;
}

html nav.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav .user-profile-icon {
    color: white !important;
    margin-left: auto;
    display: flex;
    align-items: center;
}

    nav .user-profile-icon .prefix-username {
        margin-right: 10px;
        margin-bottom: 0;
    }

nav .navbar-brand {
    padding-bottom: 0;
    padding-top: 0;
}
