@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#05202B" />
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="~/Content/Home/Home.css" rel="stylesheet" />
    <title>Home Navigation</title>
</head>
<html lang="en">
<body>
    @Html.Partial(@"~/Views/Shared/NavigationBar.cshtml")
    <main class="col-12 row">
        @Html.Partial(@"~/Views/Shared/NavigationSide.cshtml")
        <div class="row navigation-options col-sm-8 main-contents-container">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 navigation-option-container">
                <a class="col-12 navigation-option" href="/User/Home/">
                    <div class="navigation-option-icon-container text-center">
                        <i class="fas fa-users navigation-option-navigation-icon fa-5x"></i>
                    </div>
                    <div class="navigation-option-title-container">
                        <h2 class="text-center">Users</h2>
                    </div>
                    <div class="navigation-option-description-container">
                        <p class="text-center">Create and manage users that can access this application</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 navigation-option-container">
                <a class="col-12 navigation-option">
                    <div class="navigation-option-icon-container text-center">
                        <i class="fas fa-chart-bar fa-5x navigation-option-navigation-icon"></i>
                    </div>
                    <div class="navigation-option-title-container">
                        <h2 class="text-center">Roles</h2>
                    </div>
                    <div class="navigation-option-description-container">
                        <p class="text-center">Create and manage roles that can be attached to users</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 navigation-option-container">
                <a class="col-12 navigation-option" href="#">
                    <div class="navigation-option-icon-container text-center">
                        <i class="fas fa-database navigation-option-navigation-icon fa-5x"></i>
                    </div>
                    <div class="navigation-option-title-container">
                        <h2 class="text-center">Data Entry</h2>
                    </div>
                    <div class="navigation-option-description-container">
                        <p class="text-center">Data Entry </p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 navigation-option-container">
                <a class="col-12 navigation-option" href="/Reports/Add/">
                    <div class="navigation-option-icon-container text-center">
                        <i class="fas fa-chart-bar fa-5x navigation-option-navigation-icon"></i>
                    </div>
                    <div class="navigation-option-title-container">
                        <h2 class="text-center">Reports</h2>
                    </div>
                    <div class="navigation-option-description-container">
                        <p class="text-center">Manage a variety of reports tailored to fit your needs </p>
                    </div>
                </a>
            </div>

        </div>
    </main>
    @Html.Partial("~/Views/Shared/Footer.cshtml")
</body>
</html>
