body {
    max-width: 2160px;
}

main .row {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.padding-none {
    padding: 0 0 0 0 !important;
}

.row-unresponsive {
    display: flex;
}

.grid-item {
    background-color: white;
    margin-top: 20px;
    -webkit-box-shadow: 3px 3px 17px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 17px 0 rgba(0,0,0,0.75);
    box-shadow: 3px 3px 17px 0 rgba(0,0,0,0.75);
}

.height-extra-large {
    min-height: 700px;
}

#ReportCreationContainer {
    background-color: white;
    display: flex;
}

@media (max-width: 991px) {
    #ReportCreationContainer {
        flex-direction: column;
    }
}

#AvailableColumns {
    border-right: solid;
    border-color: #EBEBEB;
    overflow-y: scroll;
    max-height: 850px
}

@media(max-width: 991px) {
    #AvailableColumns {
        max-height: 500px;
    }

    #ReportParametersContainer {
        max-height: 70%;
        height: 70%;
    }
}

#AvailableColumns .title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #253e51;
}

    #AvailableColumns .title p {
        font-size: 16pt;
        height: 100%;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
    }

#AvailableColumns p {
    margin-top: 0;
    margin-bottom: 0;
}

#AvailableColumns .first-level {
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: solid;
    border-width: 1px;
    background-color: #374956;
    color: white;
    border-color: black;
    user-select: none;
    font-size: 10pt;
}

#AvailableColumns .second-level {
    -webkit-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.75);
}

    #AvailableColumns .second-level .column-container {
        padding-bottom: 3px;
        padding-top: 3px;
        color: grey;
    }

        #AvailableColumns .second-level .column-container:nth-child(1) {
            padding-top: 10px;
        }

        #AvailableColumns .second-level .column-container:last-child {
            border-bottom: solid;
            border-color: black;
            border-width: 2px;
            border-left: solid 7px rgba(0,0,0,0);
        }

        #AvailableColumns .second-level .column-container p {
            color: white;
            margin-left: 30px;
            cursor: move;
            user-select: none;
            font-size: 10pt;
            color: black;
        }

#ReportProperties {
    margin-top: 20px;
    height: 20%;
}

#ReportCodeContainer {
    margin-top: 40px;
}

    #ReportCodeContainer p {
        margin-bottom: 0;
    }

    #ReportCodeContainer #ReportTypeTabContainer {
        height: 40px;
    }

        #ReportCodeContainer #ReportTypeTabContainer .report-type-tab {
            height: 100%;
            display: flex;
            align-items: center;
            width: 100px;
            color: black;
            border-top: solid;
            border-left: solid;
            border-left-color: black !important;
            /*border-right-width: 2px;
            border-left-width: 2px; */
            cursor: pointer;
            user-select: none;
            display: flex;
            justify-content: center;
            border-width: 3px;
        }

            #ReportCodeContainer #ReportTypeTabContainer .report-type-tab.active {
                background-color: #555555;
                color: white;
                -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
                box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
            }

            #ReportCodeContainer #ReportTypeTabContainer .report-type-tab:nth-child(2) {
                border-right: solid;
                border-right-color: black !important;
                /* border-right-width: 2px; */
            }


        #ReportCodeContainer #ReportTypeTabContainer #ReportInteractionTab {
            border-color: #0073AC;
        }

        #ReportCodeContainer #ReportTypeTabContainer #ReportCodeTab {
            border-color: #FF5A54;
        }

    #ReportCodeContainer #ReportCreationContainer {
        border: solid;
        /*height: calc(100% - 40px);*/
        border-width: 2px;
    }

#ReportCreationContainer #ReportInteractionContainer {
    padding-left: 0;
    padding-right: 0;
    overflow-x: scroll;
}

#ReportInteractionContainer .row-column-names {
    display: flex;
}

    #ReportInteractionContainer .row-column-names .column {
        width: 120px;
        min-width: 120px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #d4d4d4;
    }

        #ReportInteractionContainer .row-column-names .column:nth-child(1) {
            min-width: 50px;
            border-bottom: solid;
            border-right: solid;
            border-width: 1px;
        }

#ReportInteractionContainer .report-row {
    height: 30px;
    display: flex;
}

    #ReportInteractionContainer .report-row .cell:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d4d4d4;
    }

#ReportInteractionContainer .cell {
    border-width: 1px;
    min-width: 120px;
    border-right: solid;
    border-bottom: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

    #ReportInteractionContainer .cell.table-cell p {
        height: 100%;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #0a57a2;
        font-size: 10pt;
        padding-left: 10px;
    }

#ReportInteractionContainer .report-row .row-header {
    min-width: 50px;
}

#AvailableColumns .column-container p {
    min-height: 24px;
}

#AvailableColumns .column-container {
    border-left: 7px solid rgba(0,0,0,0);
}

    #AvailableColumns .column-container .keys {
        display: flex;
        margin-left: auto;
        margin-right: 20px;
    }

    #AvailableColumns .column-container.primary-key {
        border-left: 7px solid #ffd54d !important;
    }

    #AvailableColumns .column-container .icon-primary-key svg {
        color: #ffd54d
    }

    #AvailableColumns .column-container .icon-foreign-key {
        margin-left: 10px;
    }

    #AvailableColumns .column-container.foreign-key {
        border-left: 7px solid #7C7C7C;
    }

#ReportParametersContainer .report-actions {
    margin-top: 30px;
    display: flex;
}

    #ReportParametersContainer .report-actions .report-action div {
        position: relative;
        top: -2px;
        width: 120px;
        height: 35px;
        cursor: pointer;
        user-select: none;
        border: solid;
        border-width: 2px;
        border-color: #003C4D;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #003C4D;
        color: white;
        border-width: 1px;
        border-radius: 3px;
        transition: .15s;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    }

        #ReportParametersContainer .report-actions .report-action div:active {
            top: 0px;
            -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
        }

    #ReportParametersContainer .report-actions .report-action:nth-child(2) {
        margin-left: 30px;
    }

#JoinSelector {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 130px;
    background-color: #05202B;
    z-index: 2;
    /* display: flex; */
    color: white;
    user-select: none;
}

    #JoinSelector .header {
        display: flex;
    }

        #JoinSelector .header .title {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            #JoinSelector .header .title p {
                margin-bottom: 3px;
                margin-top: 3px;
                margin-left: 25px;
                font-size: 14pt;
            }

    #JoinSelector .container-icon-close {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 10px;
        margin-top: 5px;
        height: 15%;
    }

        #JoinSelector .container-icon-close svg {
            cursor: pointer;
        }

    #JoinSelector .join-information {
        display: flex;
        width: 100%;
        height: 60%;
    }

    #JoinSelector .arrow {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

        #JoinSelector .arrow svg {
            cursor: pointer;
        }

    #JoinSelector .join-table-information {
        width: 60%;
        margin-top: 10px;
    }

    #JoinSelector .join-information p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }

        #JoinSelector .join-information p:nth-child(1) {
            font-size: 13pt;
        }

        #JoinSelector .join-information p:nth-child(2) {
            font-size: 11pt;
        }

    #JoinSelector .container-confirm {
        display: flex;
        width: 100%;
        height: 25%;
        background-color: #62A43E;
        cursor: pointer;
    }

        #JoinSelector .container-confirm p {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 3px;
            margin-bottom: 0;
            margin-top: 0;
            font-size: 13pt;
        }

        #JoinSelector .container-confirm .container-icon-accept {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
        }

#ReportCodeContainer #ReportCode {
    height: 362px;
    width: 100%;
}

#ReportCodeEditor {
    height: 299px;
}

    #ReportCodeEditor .ql-syntax {
        height: 100%;
        border-radius: 0px;
        background-color: #05202B;
    }

    #ReportCodeEditor .ql-editor {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 0;
        background-color: #05202B;
    }

html .hljs-keyword {
    color: #7bb9ee;
}

.ql-container {
    font-size: 18px !important;
    border-width: 0px !important;
}

#ToolBar {
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 15px;
}

    #ToolBar .ql-formats {
        width: 200px;
    }


        #ToolBar .ql-formats button {
            width: 100%;
            background-color: #003C4D;
            color: white;
            border-radius: 2px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            #ToolBar .ql-formats button svg {
                margin-right: 10px;
            }

            #ToolBar .ql-formats button:after {
                content: "Click Me To Begin ";
                position: relative;
                bottom: -2px;
            }

            #ToolBar .ql-formats button polyline, #ToolBar .ql-formats button line {
                stroke: white;
            }
